:root {
  font-size: 62.5%;
}

body,
html {
  width: 100%;
  height: 100%;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background:rgb(47, 37, 37);
}
.nav{
  background:rgb(125, 198, 228);
  padding:0.5em;
}
.nav h1{
  text-align:center;
  font-family:"boogaloo";
  font-size:2.4rem;
  letter-spacing:0.1em;
}
.create{
  display:flex;
  justify-content: center;
  align-items: center;
  background:transparent;
  border:2px solid skyblue;
  width:400px;
  flex-direction: column;
  position:relative;
  height:150px;
  gap:1em;
  padding:0.6em;
  border-radius:10px;
}
.contaon{
  display:flex;
  width:100vw;
  justify-content: center;
  margin-top:80px;
}
.create input[type='text'], textarea{
  width:350px;
  outline:none;
resize:none;
  padding:0.5em;
  background:transparent;
border:1px solid transparent;
  color:skyblue;
  font-family:'hammersmith one';
}
.add{
  padding:0.6em;
  outline:none;
border:1px solid yellow;
border-radius:50%;
position:absolute;
top:120px;
left:350px;

}
.fa-plus{
  font-size:2.2rem;
}
.memo{
  width:300px;
  background:transparent;
  border:2px solid yellow;
  margin-top:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:2em;
  gap:1.5em;
  flex-direction: column;
  position:relative;

}
.memo h1{
  align-self: flex-start;
  color:white;
}
.memo p{
  color:skyblue;
  font-size:1.3rem;
  justify-content: center;
}
.cross{
  background: transparent;
  padding:1em;
  border:1px solid transparent;

}
.fa-trash{
  position:absolute;
  color:white;
 
  right:15px;
}